/* small devices */

@media(max-width:768px) {
    .website-owner {
        display: none;
    }
    .welcome-container {
        margin: 40px 0;
    }
    .navbar-brand {
        margin: 10px 0;
    }
    .about-img {
        width: 90%;
        margin: auto;
    }
    .information {
        padding: 25px;
    }
}


/* Medium devices */

@media (max-width: 992px) {
    .website-owner {
        display: none;
    }
    .about {
        padding: 50px 0;
    }
    .navbar-brand {
        margin: 10px 0;
    }
}


/* Large devices */

@media (max-width: 1199px) {
    .navbar {
        font-size: small;
    }
    .about {
        padding: 50px 0;
    }
}